@model RoletopMvc.ViewModels.HistoricoViewModel

<main>
    <div class="dash1">

    <div class="dados">

        <h1>dados</h1>
        <input type="text" name="nome" value="@Model.UsuarioNome">
        <input type="email" name="email" value="@Model.cliente.Email">
        <input type="email" name="emailconfir" placeholder="Confirma Email">
        <input type="text" name="telefone" value="@Model.cliente.Telefone">
        <input type="password" name="senha" value="@Model.cliente.Senha">
        <input type="password" name="confirma" placeholder="Confirma Senha"> 
        

    <div class="botoes">

<div class="botao1">
<form method="POST" action='@Url.Action("Dashboard", "DashCliente")'>
    <input type="submit" name="botão" value="Cancelar" id="cancelar">
</form>
    
    </div>
        <div class="botao2">

        <input type="submit" name="botão" value="Salva" id="salva">
        </div>
    </div>

    </div>
</div> 

</main>